# Answer 1:

In [3]:
import pandas as pd
print (pd.__version__)

1.0.1

# Answer 2:

In [4]:
# importing Pandas & numpy 
import pandas as pd 
import numpy as np 
  
# numpy array 
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

# Answer 3:

In [6]:
 # importing the pandas library as pd  
import pandas as pd 
  
# Creating the dataframe df 
df = pd.DataFrame({'Roll Number': ['19CSE30', '19ECE40', '19EEE50', '19CSE35', '19EEE52'], 
                   'Name': ['Syed', 'Armaan', 'Namrita', 'Firdous', 'John'], 
                   'Marks In Percentage': [98, 78, 90, 61, 79], 
                   'Grade': ['A+', 'B', 'A', 'C', 'B'], 
                   'Subject': ['Maths', 'Maths', 'Maths', 'Maths', 'Maths']}) 
  
# Printing the dataframe 
df['index'] = df.index 
df

  Roll Number     Name  Marks In Percentage Grade Subject  index
0     19CSE30     Syed                   98    A+   Maths      0
1     19ECE40   Armaan                   78     B   Maths      1
2     19EEE50  Namrita                   90     A   Maths      2
3     19CSE35  Firdous                   61     C   Maths      3
4     19EEE52     John                   79     B   Maths      4